# =============================
# 必須: 以下を .env にコピーして値を設定してください
# =============================

# Django
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=postgres
DB_USER=postgres.xeczlyfuqbjmsjrvhemf
DB_PASSWORD=j8jXvq3RGT1QqrYV
DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
DB_PORT=5432


# ⚠️ メール暗号化キー (Fernet)
# 生成コマンド: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
MAIL_ENCRYPTION_KEY=z4WLZSyosnSUuab0um5jjtcyxpcogYiofFYW8CJjvi8=

# Redis (Celery)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
